/*naru-calendar*/
.naru-calendar-wrapper{}
.naru-calendar-wrapper .input-group-text{border-bottom-right-radius: 4px !important;border-top-right-radius: 4px !important;}
.naru-calendar-wrapper .naru-calendar-input{cursor:pointer;}
.naru-calendar-wrapper .naru-calendar-icon{cursor:pointer;}
.naru-calendar-wrapper .datepicker{color:#676a6c;font-size:14px;}
.naru-date-layer{border:1px solid #282728;background-color:#fff;padding:10px 5px;border-radius:5px;position:absolute;display:none;width:545px;z-index:1001;color:#676a6c;}
.naru-date-layer .naru-date-box{width:50%;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0px 10px;}
.naru-date-layer .naru-date-box .naru-date-title{font-size:14px;font-weight:bold;padding-left:5px;margin-bottom:5px;}
.naru-date-layer .naru-date-btn-layer{clear:both;padding:10px 10px 5px 10px;text-align:center;}
.naru-date-layer .naru-date-btn-layer .naru-date-confirm-btn{margin-right:2px;}
.naru-date-layer .naru-date-btn-layer .naru-date-close-btn{margin-left:2px;}
@media (max-width:767px){
	.naru-calendar-wrapper .naru-date-layer{width:300px;}
	.naru-calendar-wrapper .naru-date-box{width:100%;}
}
.naru-calendar-wrapper .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{padding:5px;}
.naru-calendar-wrapper .glyphicon.glyphicon-chevron-left::before{font-family:FontAwesome;font-style:normal;font-weight:400;content:"\f053";}
.naru-calendar-wrapper .glyphicon.glyphicon-chevron-right::before{font-family:FontAwesome;font-style:normal;font-weight:400;content:"\f054";}
.naru-calendar-wrapper .glyphicon.glyphicon-chevron-up::before{font-family:FontAwesome;font-style:normal;font-weight:400;content:"\f077";color:#337ab7;}
.naru-calendar-wrapper .glyphicon.glyphicon-chevron-down::before{font-family:FontAwesome;font-style:normal;font-weight:400;content:"\f078";color:#337ab7;}
.naru-calendar-wrapper .glyphicon.glyphicon-calendar::before{font-family:FontAwesome;font-style:normal;font-weight:400;content:"\f073";}
.naru-calendar-wrapper .glyphicon.glyphicon-time::before{font-family:FontAwesome;font-style:normal;font-weight:400;content:"\f017";color:#337ab7;}
